*{
    margin:0px;
    padding:0px;
    background-repeat: no-repeat;
}
body .backgroundbox{
    background: url("./background.jpg");
    background-position: center;
    height: 90vh;
    
    background-repeat: no-repeat;
    


}
.box{
    
    border: 2px solid gray;
    background-color: rgb(29, 228, 162);
}
.Heading
{

    
    color:white;
    font-size: 1.7rem;
    padding:0px;
    float: right;
    margin:12px 160px;
    text-transform: uppercase;

}
ul li a{
    color:white;
    font-size: 1rem;
    margin:20px;
    padding:10px;
    
    text-transform: uppercase;

}

ul li {
    display:inline-block;
    padding: 0.6rem;
    font-size: 1.2rem;
    
}
.mainhead{
    text-align: center;
    margin:140px;
    color:bisque;
}
.button h1{
    text-align: center;
    
   
}
.button h1 a{
    
    border:2px solid rgb(0, 124, 128);
    border-width: 5px;
    background-color: bisque;
    color:rgb(207, 0, 0);
}

.content img{
    border: 2px solid black;
    margin-top:210px;
    width:390px;
    height:400px;
    
    padding:10px;
}
.content2 img{
    border: 2px solid black;
    margin-top:20px;
    width:390px;
    height:400px;
    
    padding:10px;
}
.content3 img{
    border: 2px solid black;
    margin-top:20px;
    width:390px;
    height:400px;
    
    padding:10px;
}

.about{
    margin-top:160px;
    padding:20px;
}
.about h1{
    border-bottom: 2px solid black;
    margin:10px;
}

@media(max-width:450px){
    body .backgroundbox{
        width:70vh;
       
        zoom: 50px;
       

    }
    ul li a{
        color:white;
        font-size: 0.7rem;
        margin:8px;
        padding:10px;
        
        text-transform: uppercase;
    }
    .Heading
    {

    
    color:white;
    font-size: 0.8rem;
    padding:0px;
    float: right;
    margin:12px 12px;
    text-transform: uppercase;
    }
    .about{
        margin-top:280px;
        padding:20px;

    }
}

